p {
    background-color: transparent;
    font-family: 'Arial', sans-serif;
    color: rgb(255, 255, 255);
    font-size: clamp(10px, 1.5vw, 16px);
    padding: 1.5%;
    border-radius: 80px;
    margin-bottom: 15px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;

}